* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0),#ff1464);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 32px;
    height: 32px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ff1464;
    display:  block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 30px;
    font-size: 19px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #ff1464;
    background: 1px #ff1464;
    transition: 1s;
}

.features {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgb(184, 184, 184);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.categories {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.category-col {
    flex-basis: 61%;
    color: rgb(0, 0, 0);
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.category-col p {
    color: black;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.category-col ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    column-count: 4;
}

.category-col ul li {
    float: left;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 20px;
    margin: 10px 20px;
    width: auto;
}

.category-col p {
    font-weight: 400;
    font-size: 20px;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin: 10px 0;
}

.category-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 900px) {
    .text-box p {
        font-size: 25px;
    }
}
